services:
  opensearch:
    image: opensearchproject/opensearch:2.11.0
    container_name: "spectre-opensearch"
    restart: always
    environment:
      - cluster.name=opensearch-cluster
      - node.name=opensearch-node1
      - discovery.seed_hosts=opensearch-node1
      - cluster.initial_cluster_manager_nodes=opensearch-node1
      - bootstrap.memory_lock=true
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
      - "DISABLE_INSTALL_DEMO_CONFIG=true"
      - "DISABLE_SECURITY_PLUGIN=true"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - opensearch-data:/usr/share/opensearch/data

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:2.11.0
    container_name: "spectre-opensearch-dashboards"
    restart: always
    ports:
      - "5601:5601"
    expose:
      - "5601"
    environment:
      - 'OPENSEARCH_HOSTS=["http://spectre-opensearch:9200"]'
      - "DISABLE_SECURITY_DASHBOARDS_PLUGIN=true"
    depends_on:
      - opensearch

  fluentd:
    build:
      context: .
      dockerfile: Dockerfile.fluentd
    container_name: "spectre-fluentd"
    restart: always
    ports:
      - "9880:9880"
    volumes:
      - ./fluentd.conf:/fluentd/etc/fluent.conf
    environment:
      - OPENSEARCH_BASE_URL=http://opensearch:9200
      - OPENSEARCH_INDEX_NAME=products
      - OPENSEARCH_PORT=9200
      - OPENSEARCH_USERNAME=
      - OPENSEARCH_PASSWORD=
    command: fluentd -c /fluentd/etc/fluent.conf
    depends_on:
      - opensearch
volumes:
  opensearch-data:
    external: false